<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignPatternsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBA870391E10FF99004B8143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA870521E10FF99004B8143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA8705D1E10FF99004B8143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
